header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  
    background-color: papayawhip;
  
    border-bottom: 1.5px solid burlywood;
  }
  
  header h1 {
    margin: auto 0 auto 0;
    font-size: 3rem;
    font-family: 'Times New Roman', sans-serif;
  
  }
  
  header a {
    font-weight: bold;
  }
  
  nav {
    display: flex;
    flex-direction: column;
  }
  
  .hamburger {
    border: none;
    max-height: 0;
  
    padding: 0;
    margin: 0;
  
    background-color: burlywood;
  
  
    cursor: pointer;
  
    overflow: hidden;
  }
  
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: papayawhip;
    margin: 4px auto;
  }
  
  .globalnav__menu {
    display: flex;
    flex-direction: row;
  
    margin: 0;
    margin-top: 3rem;
    padding: 0;
  
    z-index: 3;
  
    background-color: var(--pink0);
  
    list-style: none;
  }
  
  .globalnav__menu__item {
    width: 6rem;
  
    text-align: center;
  }
  
  .globalnav__menu__item:hover {
    background-color: var(--pink6);
  }
  
  .globalnav__menu__item a {
    display: block;
  
    padding: 1rem 0 1rem 0;
  
    text-decoration: none;
  }
  
  .globalnav__menu__item:hover a {
    color: blue;
  }
  
  .globalnav__menu__item ul {
    position: absolute;
  
    max-height: 0;
    width: 6rem;
    margin: 0;
    padding: 0;
  
    overflow: hidden;
  
    background-color: var(--pink3);
  
    list-style: none;
  }
  
  .globalnav__menu__item ul li {
    margin: 0;
    padding: 0;
  }
  
  .globalnav__menu__item ul li a {
    color: white;
    text-decoration: none;
  }
  
  .globalnav__menu__item:hover ul {
    max-height: initial;
  }
  
  .globalnav__menu__item ul li:hover {
    background-color: var(--pink6);
  }
  
  .globalnav__menu__item ul li:hover a {
    color: gold;
  }
  
  @media screen and (max-width: 44rem) {
    header {
      justify-content: space-between;
    }
  
    .hamburger {
      width: 6rem;
      height: 3rem;
      max-height: inherit;
  
      text-align: center;
    }
  
    .globalnav__menu {
      position: absolute;
      flex-direction: column;
      max-height: initial;
  
      padding: 0;
      margin: 0;
  
      top: 3rem;
  
      overflow: hidden;
    }
  
    .globalnav__menu ul {
      position: relative;
    }
  
    .hideInMobileSize {
      max-height: 0;
    }
  }